@media screen and (max-width: 1200px) {
  .header-main {
    width: 960px;
  }
  .header-search {
    width: 400px;
  }
  .header-list ul {
    width: 304px;
  }

  .header-logo {
    margin-right: 20px;
  }
  .header-noti {
    margin-right: 10px;
  }
}

@media screen and (max-width: 992px) {
  .header-main {
    width: 720px;
  }
  .header-search {
    width: 440px;
  }

  .header-list {
    display: none;
  }

  .header-menu {
    display: block;
    font-size: 28px;
    margin: 0 20px;
  }

  .header-menu-list {
    font-size: 1.8rem;
  }

  .header-khoa-wrap {
    width: 720px;
    max-height: 300px;
    overflow: scroll;
  }
  .header-khoa-title {
    margin-left: 10px;
  }
  .header-khoa-list {
    flex-direction: column;
  }

  .header-noti-list {
    width: 400px;
  }
  .footer-content-map {
    margin-top: 20px;
  }
 .acc-box {
    top: 82px;
  }
  .searchOne-title {
    font-size: 70px;
    margin-bottom: 40px;
  }

  .searchOne-input {
    width: 700px;
    height: 68px;
  }

 
}

@media screen and (max-width: 768px) {
  .header-main {
    width: 540px;
  }

  .header-menu {
    font-size: 20px;
  }

  .header-menu-list {
    top: 68px;
  }

  .header-search {
    width: 300px;
  }

  .searchOne-title {
    font-size: 60px;
    margin-bottom: 20px;
  }

  .searchOne-input {
    width: 600px;
    height: 64px;
  }
  .searchOne-recent {
    margin-top: 24px;
  }
}

@media screen and (max-width: 576px) {
  .header-main {
    width: 498px;
  }
  .header-logo {
    margin-right: 6px;
  }
  .header-search {
    width: 260px;
  }

  .header-list {
    display: none;
  }

  .header-menu {
    font-size: 22px;
  }

  .header-noti-list {
    right: 0;
  }

  .header-khoa-wrap {
    padding: 30px 50px;
  }

  .header-khoa-wrap a {
    font-size: 1.4rem;
  }

  .searchOne-title {
    font-size: 50px;
    margin-bottom: 20px;
  }

  .searchOne-input {
    width: 500px;
    height: 54px;
  }

  .searchOne-recent-box {
    width: 30%;
  }

  .searchOne-recent-box-img img {
    width: 50%;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .header-main {
    width: 320px;
  }

  .header-search {
    display: none;
  }
  .header-menu-list {
    width: 320px;
    right: -170px;
    top: 70px;
  }

  .btn-c {
    margin: 8px;
  }

  .header-noti-list {
    width: 320px;
    right: -84px;
  }

  .searchOne {
    padding-top: 50px;
  }
  .searchOne-title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .searchOne-input {
    width: 300px;
    height: 34px;
    padding: 0 44px;
    font-size: 14px;
  }

  .searchOne-icon {
    top: calc(50% - 12px);
    left: 20px;
    font-size: 1.8rem;
  }

  .searchOne-recent-box {
    margin-bottom: 5px;
  }
  .searchOne-recent-box-title {
    font-size: 1.2rem;
  }

  .searchOne-recent-box-desc {
    font-size: 1rem;
  }

  /* popup */

  /* popup */

  .popup {
    bottom: 14px;
    width: 80%;
    left: 70px;
    height: 80px;
  }
  .popup h2 {
    font-size: 1.8rem;
  }
  .popup i {
    font-size: 2rem;
  }
}
